{% extends "base.html" %}
{% block title %}Edit Exchange file {{ title }}{% endblock %}
{% block css %}
    <link href="/static/form.css" rel="stylesheet">
{% endblock %}
{% block body %}
    {% include 'form/message.html' %}
    <div class="editor-header">
        <div class="header" id="filename">{{ title }}</div>
        <div class="sub-header">{{ data.records | length }} lines</div>
        {% include 'form/dir-chooser.html' %}
        {% include 'form/file-chooser.html' %}
    </div>
    {% include 'form/content.html' %}
        <p>&nbsp;</p>
    {% include 'form/records/filter.html' %}
    {% include 'form/records/records.html' %}
{% endblock %}
