{% extends "base.html" %}
{% block title %}Edit Exchange file {{ title }}{% endblock %}
{% block css %}
    <link href="/static/form.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <a href="/">Home</a>
    <h2>{{ title }}</h2>
    <p>{{ data.Version }}
        <br>
    {{ data.CI }}
    </p>
    <hr>
    <form method="post">
    {% include 'form/save.j2' %}
    <div class="tables">
    {% for record in data.records %}
        <div class="column">
        <h3>{{ record.type.value }}</h3>
        <table>{% for field in record %}
            <tr>
                {% if field|first == '#' %}
                    {% include 'form/composite.html' %}
                {% else %}
                    {% include 'form/simple.html' %}
                {% endif %}
            </tr>
        {% endfor %}</table>
        </div>
    {% endfor %}
    </div>
    {% include 'form/save.j2' %}
    <br>
    <hr>
    </form>
{% endblock %}
