{% extends "base.html" %}
{% block title %}Edit Exchange file {{ title }}{% endblock %}
{% block css %}
    <link href="/static/form.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <a href="/">Home</a>
    <div class="editor-header">
        <h2>{{ title }}</h2>
        <input class="path" value="{{ path }}" title="path">
    </div>
    <form method="post">
    <textarea class="content" title="content" name="content">{{ content }}</textarea>
    <input type="hidden" name="version" value="{{ data.version }}">
    {% include 'form/save.j2' %}
        <p>&nbsp;</p>
    <div class="tables">
    {% for record in data.records %}
        <div class="column">
        <div class="type-header">r {{ record.nr }}: {{ record.name }}</div>
        <table>{% for field in record %}
            <tr>
                {% include 'form/input.html' %}
            </tr>
        {% endfor %}</table>
        </div>
    {% endfor %}
    </div>
    {% include 'form/save.j2' %}
    <br>
    </form>
{% endblock %}
