<td class="label">
    {{ key }}
</td>
<td>
    {% set value = field.value %}
    {% set len = field.length %}
    {% set alignment = field.alignment %}
    {% set position = field.position %}
    {% set type = record.name %}
    {% set name = type + '.' + key %}
    <input
        type="{{ field.type }}"
        style="text-align: {{ alignment }}"
        value="{{ value }}"
        size="{{ len }}"
        minlength="{{ len }}"
        maxlength="{{ len }}"
        name="{{ name }}"
        title="{{ name }} ({{ len }})"
        onchange="inputchange(
            {{ record.nr }}, {{ position }}, '{{ alignment }}', {{ len }}, this.value)"
    >
</td>
