{%  set value = record[field].value %}
<td><label for="input1">{{ field }} ({{ value|length }})</label></td>
<td>
    <input type="text"
           value="{{ value }}"
           minlength="{{ value|length }}"
           maxlength="{{ value|length }}"
           name="{{ record.type.value }}.{{ field }}"
           id="input1">
</td>
