{%  set value = record[field].value %}
<td class="label">
    {% if not record[field].nullable %}
    *
    {% endif %}
    {{ field }}
</td>
<td>
    {% set len = value|length %}
    <input type="text"
           value="{{ value }}"
           size="{{ len }}"
           minlength="{{ len }}"
           maxlength="{{ len }}"
           name="{{ record.type.value }}.{{ field }}"
           {% if field == 'type' %}
            disabled="disabled"
           {% endif %}
           title="{{ field }} ({{ len }})">
</td>
