<div class="tables">
    {% for record in data.records %}
        <div class="column">
            <div class="type-header" onclick="toggleTable({{ record.nr }})">
                {{ record.nr }}: {{ record.name }}
            </div>
            <table style="display: none" id="nr_{{ record.nr }}">
                {% for key, field in record.fields.items() %}
                    <tr>{% include 'form/input.html' %}</tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
