.tables {
    display: flex;
    flex-wrap: wrap;
}
.column {
    margin-left: 14px;
    background-color: lightyellow;
}
.column {
    border: 1px solid #aaf;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 14px;
    height: min-content;
}
input[type=submit] {
    font-size: 16px;
}
.header-submit {
    margin-left: 16px;
}
input {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
input.little {
    width: 40px;
}
td.label {
    padding-right: 5px;
}
.type-header {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}
.editor-header {
    margin: 14px;
}
textarea.content {
    width: calc(100% - 36px);
    height: 200px;
    margin-left: 16px;
}
input.path {
    width: calc(100% - 128px);
}
label.header {
    width: 60px;
    display: inline-block;
}