li {
    list-style: none;
    line-height: 1.7;
    font-size: large;
}
.path {
    width: calc(100% - 8px);
}
.path-form {
    border: 1px solid #aaf;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}