<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="/static/style.css" rel="stylesheet">
    <script src="/static/form.js"></script>
    <script src="/static/message.js"></script>
    <script src="/static/modifycontent.js"></script>
    <script src="/static/caretposition.js"></script>
    {% block css %}{% endblock %}
    <link rel="icon" type="image/png" href="/static/exchange-icon.png"/>
</head>
<body onload="onbodyload()">
{% block body %}{% endblock %}
</body>
</html>
