{%  extends "base.html" %}
{% block title %}Edit Exchange file {{ title }}{% endblock %}
{% block css %}
    <link href="/static/form.css" rel="stylesheet">
{% endblock %}
{% block body %}
<a href="/">Home</a>
    <h1>Exchange file editor</h1>
    <h2>{{ title }}</h2>
    <h3>{{ data.Version }}</h3>
    <h3>{{ data.CI }}</h3>
    <hr>
    <form method="post">
    <input type="submit" value="save changes" class="header-submit">
    <div class="tables">
    {% for record in data.records %}
        <div class="column">
        <h3>{{ record.type.value }}</h3>
        <table>{% for field in record %}
            <tr>
                {% if field|first == '#' %}
                    {% include 'composite.j2' %}
                {% else %}
                    {% include 'simple.j2' %}
                {% endif %}
            </tr>
        {% endfor %}</table>
        </div>
    {% endfor %}
    </div>
    <input type="submit" value="save changes" class="header-submit">
    <br>
    <hr>
    </form>
{% endblock %}
