<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Exchange Files</title>
    <style>
        body {
            background-color: #aef;
        }
        li {
            list-style: none;
            line-height: 1.7;
            font-size: large;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>Edit Exchange Files</h1>
<ul>
    {% for name in names %}
      <li>
          <a href="exchange/{{ name }}">{{ name }}</a>
      </li>
    {% endfor %}
</ul>
</body>
</html>