{% extends "base.html" %}
{% block title %}Edit Exchange Files{% endblock %}
{% block css %}
    <link href="/static/index.css" rel="stylesheet">
{% endblock %}
{% block body %}
<h1>Edit Exchange Files</h1>
    <form method="post" action="/setpath">
        <label for="input1">Path to exchange files:</label>
        <p>
        <input type="text" id="input1" name="exchange_path"
               class="path" value="{{ path }}">
        </p>
        <input type="submit" value="save">
    </form>
<ul>
    {% for name in names %}
      <li>
          <a href="exchange/{{ name }}">{{ name }}</a>
      </li>
    {% endfor %}
</ul>
{% endblock %}